/* Write your CSS here! */
body {
  margin: 8px;
  display: block;
  background-color: khaki;
  font-family: "Bahnschrift", Times, serif;
  padding-right: 200px;
  padding-left: 200px;
}

#navLinks {
  color: black;
  text-align: center;
  font-size: 20px;
  padding-right: 300px;
  padding-left: 300px;
}

article {
  text-align: center;
  width: auto;
}

#mainHeading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

#intro {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: ivory;
}

.artTitle {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.artDescription {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  font-size: 20px;
  border: 1px solid black ;
  border-radius: 100px;
  background-color: ivory;
}

#testP.funParagraph {
  color: green;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  font-size: 20px;
  border: 1px solid black ;
  border-radius: 100px;
  background-color: ivory;
}

figcaption {
  font-size: 20px;
}

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

footer {
  text-align: center;
}